<a href="/pages/about">About<a>
<a href="/pages/contact">Contact<a>

<h1>we would like to hear from you</h1>
<p>hello how are you doing<p>
<p>Im ok click here to search <a href="http://google.com">Search<a>>
